<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Grande Coffee</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>
      <!--header section start -->
      <div class="header_section">
         <div class="container-fluid">
         {% if request.user.is_authenticated %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
               <div class="logo"><a href="{% url 'index' %}"><h1 class="navbar-h1">Grande Coffe</h1></a></div>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item active">
                        <a class="nav-link" href="/">Anasayfa</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#contact">İletişim</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'coffes' %}">Kahveler</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'order' %}">Sepet</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'blogs' %}">Bloglar</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'updateuser' %}">Kullanıcı Bilgileri</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'logoutuser' %}">Çıkış Yap</a>
                     </li>
                  </ul>
               </div>
            </nav>
         {% else %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
               <div class="logo"><a href="{% url 'index' %}"><h1 class="navbar-h1">Grande Coffe</h1></a></div>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index' %}">Anasayfa</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#contact">İletişim</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'coffes' %}">Kahveler</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'blogs' %}">Bloglar</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Kayıt Ol</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Giriş Yap</a>
                     </li>
                  </ul>
               </div>
            </nav>
         {% endif %}
         </div>
      </div>
      <!--header section end -->
      <!-- banner section start -->
      <div class="banner_section layout_padding">
         <div class="container">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="row">
                        <div class="col-sm-12">
                           <div class="banner_taital">
                              <br>
                              <br>
                              <br>
                              {% if messages %}
                
                                 {% for message in messages %}
                                 {% if message.tags == "info" %}
                                 <div class="alert alert-danger">{{ message }}</div>
                                 {% else %}
                                 <div class="alert alert-{{ message.tags }} messagealerts">{{ message }}</div>

                                 {% endif %}


                                 {% endfor %}
                              
                              {% endif %}
                              <h1 class="coffee_text">Grande Coffe</h1>
                              <p class="there_text">O, Anıları Koyulaştırır, Sohbetleri Derinleştirir ve Ruhunu Isıtır. En Lezzetli Çeşitlerle Saf Bir Kahve Deneyimi!</p>
                              <div class="learnmore_bt"><a href="{% url 'coffes' %}">Kahve Çeşitlerimize Göz At</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- banner section end -->
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="about_taital_main">
                     <div class="about_taital">Hakkımızda</div>
                     <p class="about_text">Özel Çekirdekler, Kusursuz Lezzet! Grande Coffe olarak dünyanın dört bir yanından en kaliteli kahve çekirdeklerini sizler için özenle seçiyor. Her bardakta ustalıkla hazırlanmış kahvelerimizin eşsiz lezzetini deneyimlemeniz için sakin bir ortam oluşturuyoruz. Kahve sanatını tutkuyla icra ediyor, her yudumda unutulmaz bir deneyim sunuyoruz.</p>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="about_img"><img src="{% static 'images/about-img.png' %}"></div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->
      <!-- gallery section start -->
      <div class="gallery_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h2 class="gallery_taital">En Çok Tercih Edilen Kahve Çeşitlerimiz</h2>
                  <p class="gallery_text">Siz değerli müşterilerimiz tarafından en çok sevilen ve tercih edilen başlıca kahve çeşitlerimiz</p>
               </div>
            </div>
            <div class="">
               <div class="gallery_section_2">
                  <div class="row">
                  {% for topratedcoffe in toprated %}
                     <div class="col-md-4">
                        <div class="container_main">
                           <img src="{{ topratedcoffe.image.image.url }}" alt="Kahve Resmi" class="blog-image">
                           <div class="overlay">
                              <div class="text"><a href="{% url 'coffesdetail' topratedcoffe.slug %}"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                           </div>
                        </div>
                        <p class="topratedcoffe-paragraph">{{ topratedcoffe.name }}</p>
                     </div>
                  {% endfor %}
                  </div>
               </div>
            </div>
            <div class="seemore_bt"><a href="{% url 'coffes' %}">Diğer Kahve Çeşitlerimizi Keşfedin</a></div>
         </div>
      </div>
      <!-- gallery section end -->
      <!-- services section start -->
      <div class="service_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h2 class="services_taital">Hizmetlerimiz</h2>
                  <p class="services_text">Grand Coffe olarak tüm hizmetlerimiz</p>
               </div>
            </div>
            <div class="services_section_2">
               <div class="row">
                  <div class="col-lg-4 col-sm-12 col-md-4">
                     <div class="box_main active">
                        <div class="house_icon">
                           <img src="{% static 'images/icon1.png' %}" class="image_1">
                           <img src="{% static 'images/icon1.png' %}" class="image_2">
                        </div>
                        <h3 class="decorate_text">Özel Kahve Çekirdekleri</h3>
                        <p class="tation_text">Dünyanın dört bir yanından getirdiğimiz özel kahve çekirdeklerini öğüterek sizlere sunuyoruz.</p>
                     </div>
                  </div>
                  <div class="col-lg-4 col-sm-12 col-md-4">
                     <div class="box_main">
                        <div class="house_icon">
                           <img src="{% static 'images/icon2.png' %}" class="image_1">
                           <img src="{% static 'images/icon2.png' %}" class="image_2">
                        </div>
                        <h3 class="decorate_text">20+ Kahve Çeşidi</h3>
                        <p class="tation_text">Sunduğumuz 20'den fazla eşsiz kahve çeşitleriyle her yudumda farklı bir deneyim yaşamanızı sağlıyoruz.</p>
                     </div>
                  </div>
                  <div class="col-lg-4 col-sm-12 col-md-4">
                     <div class="box_main">
                        <div class="house_icon">
                           <img src="{% static 'images/icon3.png' %}" class="image_1">
                           <img src="{% static 'images/icon3.png' %}" class="image_2">
                        </div>
                        <h3 class="decorate_text">Sakin Bir Ortam</h3>
                        <p class="tation_text">Mağazamızda kahvenizi yudumlayarak aldığınız tadın keyfini çıkarırken sizlere sakin bir ortam oluşturyoruz.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- services section end -->
      <!-- testimonial section start -->
      <div class="client_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h2 class="client_taital">Yeni Bloglarımız</h2>
                  <p class="client_text">En yeni bloglarımızla sizlere kahve hakkında daha fazla bilgi paylaşıyoruz</p>
               </div>
            </div>
         </div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="client_section_2">
               <div class="container">
               {% for lastblog in lastblogs %}
                   <div class="row">
                      <div class="col-md-12">
                         <div class="testimonial_section_2">
                            <h4 class="client_name_text">{{ lastblog.author }}</h4>
                              <p class="customer_text">{{ lastblog.content.first.content|truncatechars:300 }}</p>
                              <p class="client_date">{{ lastblog.date }}</p>
                         </div>
                      </div>
                   </div>
               {% endfor %}
               </div>
            </div>
          </div>
        </div>
      </div>
     </div>
      <!-- testimonial section end -->
      <!-- contact section start -->
      <div class="contact_section layout_padding" id="contact">
         <div class="container">
            <h2 class="contact_text">Bizimle İletişime Geçin</h2>
            <p class="contact_paragraph">Bizimle iletişime geçerek hakkımızda daha fazla bilgi alabilir, iş birlikleri için bize ulaşabilirsiniz.</p>
         </div>
      </div>
      <div class="contact_section_2 layout_padding">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-6 padding_0">
                  <div class="mail_section">
                  <form method="post">
                  {% csrf_token %}
                     <div class="email_text">
                        <div class="form-group">
                           <input type="text" class="email-bt" placeholder="İsim" name="name">
                        </div>
                        <div class="form-group">
                           <input type="text" class="email-bt" placeholder="Email" name="email">
                        </div>
                        <div class="form-group">
                           <input type="text" class="email-bt" placeholder="Konu" name="subject">
                        </div>
                        <div class="form-group">
                           <textarea class="massage-bt" placeholder="Mesaj" rows="5" id="comment" name="message"></textarea>
                        </div>
                        <div class="send_btn">
                           <button type="submit" class="main_bt">Gönder</button>
                        </div>
                     </div>
                  </form>
                  </div>
               </div>
               <div class="col-md-6 padding_0">
                  <div class="map-responsive">
                     <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France" width="600" height="508" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- contact section end -->
      <!-- footer section start -->
      <div class="footer_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <h3 class="useful_text">Hakkımızda</h3>
                  <p class="footer_text">Grande Coffee olarak, dünyanın dört bir yanından en kaliteli kahve çekirdeklerini özenle seçiyor, her yudumda unutulmaz bir deneyim sunuyoruz. Kahve sanatını tutkuyla icra ediyor, sizlere huzurlu bir ortamda eşsiz lezzetler vaat ediyoruz.</p>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h3 class="useful_text">Menü</h3>
                  <div class="footer_menu">
                     <ul>
                        <li><a href="/">Anasayfa</a></li>
                        <li><a href="{% url 'coffes' %}">Kahveler</a></li>
                        <li><a href="">Bloglar</a></li>
                        <li><a href="{% url 'register' %}">Kayıt Ol</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h3 class="useful_text">Linkler</h3>
                  <div class="footer_menu">
                     <ul>
                     {% for footercoffe in footercoffes %}
                        <li><a href="{% url 'coffesdetail' footercoffe.slug %}">{{ footercoffe.name }}</a></li>
                     {% endfor %}
                     </ul>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h1 class="useful_text">İletişim</h1>
                  <div class="location_text">
                     <ul>
                        <li>
                           <a href="#">
                           <i class="fa fa-map-marker" aria-hidden="true"></i><span class="padding_left_10">Address : Loram Ipusm</span>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                           <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_10">Call : +01 1234567890</span>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                           <i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left_10">Email : m.toker2009@gmail.com</span>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <p class="copyright_text"><a href="https://www.linkedin.com/in/mustafa-kayra-toker-b89247283/">Mustafa Kayra Toker</a> tarafından geliştirildi</p>
         </div>
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'js/plugin.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>     
   </body>
</html>